
@{
    ViewBag.Title = "Invoice";
}

<h2>Your Invoice</h2>
<table class="timetable_sub" id="myTable">
    <thead>
        <tr>
            <th>SL No.</th>
            <th>Invoice_Name</th>
            <th>totalMoney</th>
            <th>createdDate</th>
            <th>customerAddress</th>
            <th>status</th>
            <th>shipDate</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr class="rem1">
            <td class="invert">1</td>
            <td class="invert-image">
                
            </td>
            <td class="invert">
               
            </td>
            <td class="invert">Back Cover</td>
            <td class="invert">$259</td>
            <td class="invert">
                <div class="rem">
                    <div class="close1"> </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

