@if (@Session["username"] != null)
{

   

          <i>Hello @Session["username"] !  </i>
        <a href="@Url.Action("Invoice","Checkout")" class="text-white">
            | Your Order
        </a>
        <a href="@Url.Action("Logout","Account")" class="text-white">
            | Log Out 
        </a>


}
else
{
    <li class="text-center border-right text-white">
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
            <i class="fas fa-sign-in-alt mr-2"></i> Log In
        </a>

        </li>
        <li class="text-center text-white">
            <a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white">
                <i class="fas fa-sign-out-alt mr-2"></i>Register
            </a>
        </li>
}
